{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/simplex/bootstrap.min.css"> -->
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>

        <!-- Navbar block  -->
                {% block navbar %}
                    {% include 'navbar.html' %}
                {% endblock %}
        <!-- Content block -->

        {% block content %}



        {% endblock%}
        <!--<footer block -->
               {% block footer %}
                {% include 'footer.html'%}
               {% endblock %}


    </body>
</html>
